---
version: 1
services:
  - type: web
    name: kplus-api
    dockerContext: ./backend
    env: docker
    envVars:
      - key: PORT
        value: "5000"

  - type: web
    name: kplus-web
    dockerContext: ./frontend
    env: docker
    envVars:
      - key: VITE_API_URL
        value: "http://kplus-api:5000"
      - key: REACT_APP_API_URL
        value: "http://kplus-api:5000"
      - key: PORT
        value: "80"