# Exported from Render on 2025-11-24T04:53:48Z
version: "1"
projects:
- name: My project
  environments:
  - name: Production
    services:
    - type: web
      name: kplus
      runtime: image
      image:
        url: docker.io/italoweb99/kplus:latest
      plan: free
      region: oregon
      autoDeployTrigger: commit
    - type: web
      name: kplus-api
      runtime: image
      image:
        url: docker.io/italoweb99/kplus-api:latest
      plan: free
      envVars:
      - key: CONNECTIONSTRING
        sync: false
      - key: JWTSECRET
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      region: oregon
      autoDeployTrigger: commit
